<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="disclaimer">
  <small>
    <fa-icon [icon]="faExclamationTriangle" aria-hidden="true"></fa-icon>
    Cet outil a pour but de pr&eacute;senter les recommandations nutritionnelles pour le
    patient <strong>adulte</strong> de r&eacute;animation aliment&eacute; en nutrition artificielle.
    Il ne tient cependant pas compte de l'ensemble des paramètres médicaux.
    <br/>
    Aussi, en cas de doute, <strong>n'h&eacute;sitez pas &agrave; solliciter l'avis de votre di&eacute;t&eacute;ticien(ne)</strong>.
  </small>
</div>
