<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-card class="bibliography">
  <mat-card-header>
    <mat-card-title>
      <fa-icon [icon]="faBookMedical" aria-hidden="true"></fa-icon>&nbsp;Bibliographie
    </mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>


    <div *ngFor="let entry of bibliography.allEntries().sortedByIndex()">
      <p [id]="'bibliography-' + entry.index" [class.highlighted]="isHighlighted(entry)">
        <span *ngIf="entry.url">[{{entry.index}}]&nbsp;<a [href]="entry.url">{{entry.label}}</a></span>
        <span *ngIf="!entry.url">[{{entry.index}}]&nbsp;{{entry.label}}</span>
      </p>
    </div>
  </mat-card-content>
</mat-card>
