<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="page-target-flows">

  <div class="left-pane">
    <app-patient-form></app-patient-form>
    <app-nutrition-form></app-nutrition-form>
    <app-pathologies></app-pathologies>
  </div>

  <div class="center-pane">

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <fa-icon [icon]="faBullseye" aria-hidden="true"></fa-icon>&nbsp;Débits cibles
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div>
          <app-flows-strip></app-flows-strip>
          <app-target-flows></app-target-flows>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="center-pane">
      <mat-card-header>
        <mat-card-title>
          <fa-icon [icon]="faPills" aria-hidden="true"></fa-icon>&nbsp;Micronutriments
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <app-nutriments></app-nutriments>
      </mat-card-content>
    </mat-card>

  </div>

</div>
