/*
 * Copyright (c) 2022. Yann D'Isanto
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

div.page-target-flows {
  display: flex;
  flex-flow: row wrap;
}

.left-pane {
  display: flex;
  flex-flow: column wrap;
  margin-top: 5px;
  margin-right: 5px;

}

.center-pane {
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 1;
}

app-patient-form {
  margin-bottom: 5px;
}

app-nutrition-form {
  margin-bottom: 5px;
}

app-pathologies {
  margin-bottom: 5px;
}
