<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="container-fluid mt-3" *ngIf="(survey$ | async) || noSurvey; let survey">
  <div class="survey" *ngIf="survey.enabled">
    <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(survey.url)">
      Loading…
    </iframe>
  </div>
  <div class="survey" *ngIf="!survey.enabled">
    <p>No survey in progress</p>
  </div>
</div>
