<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<app-disclaimer></app-disclaimer>

<div>

  <div id="flyingMenu" *ngIf="(isHandset$ | async) && !drawer.opened">
    <button mat-button color="primary" type="button" aria-label="Toggle sidenav" (click)="drawer.toggle()"
            onclick="this.blur()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      <span>Menu</span>
    </button>
  </div>

  <mat-sidenav-container>
    <mat-sidenav #drawer
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">

      <button *ngIf="(isHandset$ | async)" mat-icon-button color="primary" type="button" aria-label="Toggle sidenav"
              (click)="drawer.toggle()" onclick="this.blur()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <mat-nav-list>
        <mat-list-item *ngFor="let menu of menus" [routerLink]="[menu.route]" (click)="closeDrawerIfHandset(drawer)">
          <a mat-button color="primary" [class.mat-flat-button]="isSelected(menu)">
            <fa-icon [icon]="menu.icon" aria-hidden="true"></fa-icon>&nbsp;{{menu.label}}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-container *ngIf="(survey$ | async) || noSurvey; let survey">
        <div *ngIf="survey.enabled && currentRoute !== '/survey'" style="display: flex; justify-content: center">
          <button mat-flat-button color="accent" class="m-2 blinking text-center" routerLink="/survey">
            Donnez votre avis ici !
          </button>
        </div>
      </ng-container>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-footer></app-footer>
