/*
 * Copyright (c) 2022. Yann D'Isanto
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


#flyingMenu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000000;
  opacity: 1;
  background: white;
}

#flyingMenu button.mat-mdc-button {
  padding: 0 !important;
}

.main-content {
  margin-left: 0.5em;
}

.blinking {
  animation: blinking 2s linear infinite;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}
