<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <fa-icon [icon]="faStickyNote" aria-hidden="true"></fa-icon>&nbsp;Suppl&eacute;mentation en phosphore en cas de SRI, à adapter selon la clinique
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <mat-card class="my-4">
      <mat-card-header>
        <mat-card-subtitle>
          Phosphorémie à 0,33 mmol/L et/ou signes cliniques de SRI
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>IV: 0,66 mmol/kg/24h</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="my-4">
      <mat-card-header>
        <mat-card-subtitle>
          Phosphorémie entre 0,33 et 0,66 mmol/L
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>IV: 0,33 mmol/kg/24h</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="my-4">
      <mat-card-header>
        <mat-card-subtitle>
          Phosphorémie entre 0,66 et 0,8 mmol/L
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>PO: 0,33 mmol/kg/24h</li>
          <li>IV: 0,16 mmol/kg/24h</li>
        </ul>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>
