/*
 * Copyright (c) 2022. Yann D'Isanto
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.mat-mdc-card {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mat-mdc-card-title {
  color: rgba(64, 64, 64, .87) !important;
}

.mat-mdc-expansion-panel-body {
  padding: 0 !important;
}

.mat-mdc-card-footer * {
  color: rgba(56, 65, 73, .87) !important;
}
