<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p [innerHTML]="product.indications"></p>
  </mat-card-content>
  <mat-card-footer>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>Apports:</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>Apport énergétique: {{product.nutritionInfo.kcalPerLiter}} kcal/L</li>
        <li>Apport en protéines: {{product.nutritionInfo.proteinsGramsPerLiter}} g/L</li>
      </ul>
    </mat-expansion-panel>
  </mat-card-footer>
</mat-card>

