<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="column" *ngIf="recommendations$ | async as recommendations">
  <ng-container *ngFor="let recommendation of recommendations">
    <p class="reco">
      {{recommendation.micronutriment}}
      <span *ngIf="recommendation.administrationTerms">
      : {{recommendation.administrationTerms.quantity}} {{recommendation.administrationTerms.unit}}
      </span>
      <app-biblio-links [references]="recommendation.sources"></app-biblio-links>
    </p>
    <ul class="clauses" *ngIf="recommendation.clauses.length > 0">
      <li *ngFor="let clause of recommendation.clauses" [innerHTML]="renderClause(clause)"></li>
    </ul>
  </ng-container>
</div>
