/*
 * Copyright (c) 2022. Yann D'Isanto
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


div.strip {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-flow: row wrap;
}

div.strip span {
  padding: 0.5em;
}

div.strip span.p-aigue {
  background-color: #f8d7da;
}

div.strip span.p-gradient {
  background: linear-gradient(to right, #f8d7da, #d4edda);
}

div.strip span.p-rehab {
  background-color: #d4edda;
}
