<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="strip">

  <span class="p-aigue"><strong>20</strong> kcal</span>
  <span class="p-aigue"><fa-icon [icon]="faAngleDoubleRight"></fa-icon></span>
  <span class="p-aigue">phase aigu&euml;</span>
  <span class="p-aigue"><fa-icon [icon]="faAngleDoubleRight"></fa-icon></span>
  <span class="p-gradient"><strong>25</strong> kcal</span>
  <span class="p-rehab"><fa-icon [icon]="faAngleDoubleRight"></fa-icon></span>
  <span class="p-rehab">phase de r&eacute;habilitation</span>
  <ng-container *ngIf="(hasObesity$ | async) === false">
    <span class="p-rehab"><fa-icon [icon]="faAngleDoubleRight"></fa-icon></span>
    <span class="p-rehab"><strong>30</strong> kcal</span>
  </ng-container>
</div>
