<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <fa-icon [icon]="faUtensils" aria-hidden="true"></fa-icon>&nbsp;Nutrition
    </mat-panel-title>
    <mat-panel-description>{{selectedProduct$ | async}}</mat-panel-description>
  </mat-expansion-panel-header>
  <form>
    <p>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [value]="selectedNutritionType$ | async" #nutritionSelect
                    (selectionChange)="selectNutritionType($event.value)">
          <mat-option [value]="enterale">{{enterale}}</mat-option>
          <mat-option [value]="parenterale">{{parenterale}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Produit</mat-label>
        <mat-select [value]="selectedProduct$ | async" (selectionChange)="selectProduct($event.value)">
          <mat-option *ngFor="let product of availableProduct$ | async" [value]="product">{{product}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </form>

</mat-expansion-panel>
