<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <fa-icon [icon]="faUserInjured" aria-hidden="true"></fa-icon>&nbsp;Patient
    </mat-panel-title>
    <mat-panel-description>
      {{patient.heightCm.toFixed(0)}}cm/{{patient.weightKg.toFixed(0)}}kg
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form>
    <p>
      <mat-form-field>
        <mat-label>Taille (cm)</mat-label>
        <input #heightInput type="number" matInput placeholder="taille du patient" required
               [value]="patient.heightCm.toFixed(0)" (change)="updateHeight($event)"
                (focus)="heightInput.select()" (keyup.enter)="weightInput.focus()">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Poids (kg)</mat-label>
        <input #weightInput type="number" step="0.1" matInput placeholder="poids du patient" required
               [value]="patient.weightKg" (change)="updateWeight($event)"
               (focus)="weightInput.select()">
      </mat-form-field>
    </p>

    <p *ngIf="shouldDisplayAdjustedWeight()">
      <mat-form-field>
        <mat-label>Poids ajusté (kg)</mat-label>
        <input matInput readonly
               [value]="patient.adjustedWeightKg.toFixed(1)">
        <mat-hint>
          références
          <app-biblio-links [references]="['espen-p52', 'ideal-body-weight-equation']"></app-biblio-links>
        </mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>IMC</mat-label>
        <input matInput readonly
               [value]="patient.bmi.toFixed(1)">
      </mat-form-field>
    </p>

  </form>

</mat-expansion-panel>
