<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <fa-icon [icon]="faQuestionCircle" aria-hidden="true"></fa-icon>&nbsp;&Agrave; Propos
    </mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <p>Site &eacute;labor&eacute; en partenariat avec l'&eacute;quipe di&eacute;t&eacute;tique du
      service de r&eacute;animation du CHU de Toulouse.</p>
    <p>Remerciements &agrave; toute l'&eacute;quipe di&eacute;t&eacute;tique du
      service de r&eacute;animation du CHU de Toulouse et en particuliers &agrave; :</p>
    <ul>
      <li>Carine Baux</li>
      <li>Sarah Chenal</li>
      <li>Am&eacute;lie Defossez</li>
      <li>V&eacute;ronique Fouss</li>
    </ul>

    <mat-divider></mat-divider>

    <p>Si vous aimez ce site ou qu'il vous a été utile, n'hésitez pas à contribuer à son maintien en activité
      (développement et hébergement) assuré de manière bénévole.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick"/>
      <input type="hidden" name="hosted_button_id" value="MKFWK5Q6FSEQW"/>
      <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif"
             border="0"
             name="submit" title="Faire un don"
             alt="Bouton Faites un don avec PayPal"/>
      <img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1"/>
    </form>

    <mat-divider></mat-divider>

    <p>Favicon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>

  </mat-card-content>
</mat-card>
