<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <fa-icon [icon]="faVials" aria-hidden="true"></fa-icon>&nbsp;Produits
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <div class="row">

      <div [class.max-height-50-percent]="(notHandset$ | async)">

        <mat-card>
          <mat-card-header>
            <mat-card-title><u>Entérale</u></mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <app-product-detail *ngFor="let product of productsEnterale" [product]="product"></app-product-detail>
          </mat-card-content>
        </mat-card>
      </div>

      <div [class.max-height-50-percent]="(notHandset$ | async)">
        <mat-card>
          <mat-card-header>
            <mat-card-title><u>Parentérale</u></mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <app-product-detail *ngFor="let product of productsParenterale" [product]="product"></app-product-detail>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card-content>
</mat-card>
