<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <fa-icon [icon]="faDisease" aria-hidden="true"></fa-icon>&nbsp;Pathologies

    </mat-panel-title>
    <mat-panel-description *ngIf="selectedPathologies$ | async as selectedPathologies">
      <span *ngIf="selectedPathologies.length === 1">{{selectedPathologies[0]}}</span>
      <span *ngIf="selectedPathologies.length > 1">{{selectedPathologies.length}} sélectionnées</span>
      <span *ngIf="hasWarnings$ | async">&nbsp;<fa-icon [icon]="faExclamationCircle" aria-hidden="true"></fa-icon></span>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form *ngIf="selectedPathologies$ | async as selectedPathologies">
    <ul>
      <li *ngFor="let pathology of allPathologies">
          <mat-checkbox [disabled]="(isPathologyDisabled(pathology) | async) || false"
                        [checked]="selectedPathologies.includes(pathology)"
                        (change)="pathologySelectionChange(pathology, $event.checked)"
          >{{pathology}}</mat-checkbox>
      </li>

    </ul>
  </form>

  <app-warnings></app-warnings>
</mat-expansion-panel>
