<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<ul *ngIf="targetFlows$ | async as targetFlows">

  <li *ngFor="let targetFlow of targetFlows">
    <p>
      Pour un apport de <strong>{{ targetFlow.targetCal }}</strong> kcal/kg/jour
      <!--      <biblio-links :sources="sources"></biblio-links>-->
      soit {{ targetFlow.dayEnergyKcal.toFixed(0) }} kcal et {{ targetFlow.dayProteinsG.toFixed(0) }} g de prot&eacute;ines
      ({{ targetFlow.proteinsForWeightGPerKg.toFixed(1).replace(reg, "") }} g/kg/jour)
      <br/>
      &rArr; d&eacute;bit cible=<strong>{{ targetFlow.hourFlowML.toFixed(0) }}</strong> ml/h
    </p>
  </li>
</ul>
