/*
 * Copyright (c) 2022. Yann D'Isanto
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

footer {
  padding: 1rem 1rem 1rem 2rem !important;
  margin-top: 3rem !important;
  border-top: 1px solid #dee2e6 !important;
  background-color: #f8f9fa !important;
  font-size: 80%;
  font-weight: 400;
}

footer div {
  display: flex;
  flex-flow: row wrap;
}

.push-right {
  margin-left: auto;
}

.badge {
  color: #673ab7;
  background-color: #e9ecef;
  transition: none;
  display: inline-block;
  padding: .25em .4em;
  margin-left: 0.25em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}


a.badge {
  text-decoration: none !important;
}

a.badge:hover {
  color: #e9ecef !important;
  background-color: #673ab7 !important;
}

/*span.badge a:hover {*/
/*  !*color: goldenrod !important;*!*/
/*}*/
