<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<footer class="footer">

  <div>
    <div class="footer-left">
      <span>
        Site &eacute;labor&eacute; en partenariat avec
        <a [routerLink]="['/about']">l'&eacute;quipe di&eacute;t&eacute;tique du
          service de r&eacute;animation du CHU de Toulouse
        </a>
      </span>
    </div>
    <div class="push-right">
      <a class="badge" href="https://gitlab.com/ydisanto/recos-diet/-/blob/master/CHANGELOG.md">{{appVersion}}</a>
      <a class="badge" href="https://gitlab.com/ydisanto/recos-diet">&copy; Yann D'Isanto</a>
      <a class="badge" href="https://www.apache.org/licenses/LICENSE-2.0">
        <fa-icon [icon]="faBalanceScale" aria-hidden="true"></fa-icon>
        Apache-2.0
      </a>
    </div>
  </div>

</footer>
