<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<ng-container *ngIf="nutritionistOpinionRequirementLevel$ | async as nutritionistOpinionRequirementLevel">

  <div *ngIf="nutritionistOpinionRequirementLevel.isMedium()" class="nutritionist_opinion_requirement level_medium">
    <small><strong>Avis diététique recommandé</strong></small>
  </div>

  <div *ngIf="nutritionistOpinionRequirementLevel.isHigh()" class="nutritionist_opinion_requirement level_high">
    <small><strong>Avis diététique fortement recommandé</strong></small>
  </div>
</ng-container>

<div *ngFor="let warning of warnings$ | async"
     class="nutritionist_opinion_requirement"
     [class.level_high]="warning.isHigh"
     [class.level_medium]="warning.isMedium">
  <small>{{warning.text}}</small>&nbsp;<app-biblio-links *ngIf="warning.sources" [references]="warning.sources"></app-biblio-links>
</div>

