<!--
  ~ Copyright (c) 2022. Yann D'Isanto
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <fa-icon [icon]="faStickyNote" aria-hidden="true"></fa-icon>&nbsp;SRI - Crit&egrave;res NICE 2006
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <div class="info">
      Les crit&egrave;res de NICE (National Institute for health and Clinical
      Excellence)
      permettent de d&eacute;pister les
      patients &agrave; haut risque de syndrome de renutrition inappropri&eacute;e. Les patients &agrave;
      risque de SRI
      comportent <strong>au moins 1 crit&egrave;re majeur ou au moins 2 crit&egrave;res mineurs</strong>.
    </div>

    <div class="row">

      <div class="column">
        <h3>Crit&egrave;res majeurs</h3>
        <ul>
          <li>IMC &lt; 16</li>
          <li>Perte de poids involontaire &gt; 15% sur les 3-6 derniers mois</li>
          <li>Apport nutritionnel faible ou nul &gt; 10 jours</li>
          <li>
            <span>HypoPh<sup>-</sup>&nbsp;/ HypoK<sup>+</sup>&nbsp;/ HypoMg<sup>+</sup>&nbsp;
            avant renutrition</span></li>
        </ul>
      </div>

      <div class="column">
        <h3>Crit&egrave;res mineurs</h3>
        <ul>
          <li>IMC &lt; 18,5</li>
          <li>Perte de poids involontaire &gt; 10% sur les 3-6 derniers mois
          </li>
          <li>Apport nutritionnel faible ou nul &gt; 5 jours</li>
          <li>OH chronique</li>
          <li>Insuline, chimiotéraphie, antiacides, diur&eacute;tiques</li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>
